@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");


.body-setup {
  background-image: url("./images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 16px;
  font-family: "Lato", sans-serif;
}

/* quick links */
.quick-links {
  background-color: #3d5d8e;
  list-style: none;
  font-size: 13.2px;
  font-weight: 400;
} 

.quick-links a {
  text-decoration: none;
  color: white;
  padding: 5px;
  display: inline-block; 
}

.quick-links li:not(:last-child)::after {
  font-size: 15px;
  content: "|";
  color:#ABDEFF ;
}

/* main section */

.container {
  margin: auto;
  width: 955px;
}

.main-content {
  padding: 5px;
  background-color: rgb(8, 18, 28, 0.8);
  margin-top: 30px;
}

.header {
  border: solid #4e4d53 1px;
  position: relative;
}

.ftz-logo {
  position: absolute;
  height: 160px;
  width: 222px;
  top: -40px;
  left: 10px;
}

.header-nav {
  
}

.header-nav ul {
  list-style: none;
  margin-left: 28px;
}

.header-nav ul li {
  margin-top: 2px;
  margin-bottom: 2px;
  text-transform: uppercase; 
  /* padding-bottom:0;
  padding-top: 0px;
  padding-right: 0; */
  font-size: 18px;
  font-weight: 400;
}

.header-nav a {
  color: #ABDEFF;
  text-decoration: none;
  padding: 5px 10px; 
}

.header-nav a:hover {
  color: white;
  background-color: #acdeff;
}

.divider {
  color: whitesmoke;
  font-size: 16px;
  /* margin: 0; */
  padding-top: 10px;
  padding-bottom: 10px;
  align-items: center
}

.divider::after {
  content: "|";
  padding: 0;
}

/* .main-section {
  width: 955px; */
  /* border: solid green 3px; */
  /* padding: 0; */


.main-box {
  filter: contrast(110%);
  height: 170px;
  margin: 0;
  /* border: solid red 3px; */
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 34px;
  /* box-sizing: border-box; */
  /* filter: contrast(110%); */
  color: rgb(255, 253, 247);
  font-size: 36px;
  font-weight: 300;
  letter-spacing: 8px;
  word-spacing: 8px;
  background: linear-gradient(rgba(83, 121, 163, 0.2), rgba(0, 0, 0, 0.5));
}

.about-us-container {
  padding: 3px;
  background-color: rgba(8, 18, 28, 0.8);
  color: rgb(248, 248, 250);
}

.about-us {
  padding: 27px;
  display: flex;
  justify-content: space-between;
  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(rgba(8, 18, 28, 0), rgba(86, 94, 105, 1)) 1;
}

.about-us-col {
  width: 277px;
}

.tile1 {
  filter: contrast(110%) brightness(180%);
}

.tile {
  width: 277px;
  height: 121px;
}

.about a {
  color: #acdeff;
}

.about a:after {
  content: ">";
}

.to-upper-case {
  text-transform: uppercase;
}





/* footer class */


.footer {
  color: #fffef8;
  height: 30px;
  width: 955px;
  background-color: rgba(30, 48, 82, 0.7);
  padding-top: 5px;
  padding-bottom: 2px;
  box-sizing: border-box;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
}

.footer a {
  color: white;
  font-size: 14px;
  font-weight: 400;
}

.footer-divider-style {
  padding: 8px;
  font-size: 12px;
}

/* common classes */

.d-inline {
  display: inline-block;
}

.br {
  border: solid red 2px;
}

.fw {
  font-weight: 500;
}

.fs {
  font-size: larger;
}

.font-5px {
  font-size: 15px;
}

.mg-5 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-46 {
  margin-top: 46px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.ma-5 {
  margin-right: 25px;
}


.mg-5 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-46 {
  margin-top: 46px;
}


.mt-10 {
  margin-top: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.ma-5 {
  margin-right: 25px;
}

.font-5px {
  font-size: 15px;
}

.mg-5 {
  margin: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.mt-46 {
  margin-top: 46px;
}


.mt-10 {
  margin-top: 10px;
}

.mt-8 {
  margin-top: 8px;
}

.ma-5 {
  margin-right: 25px;
}

.bg {
  border: solid rgb(57, 126, 82) 2px;
}

.d-flex {
  display: flex;
}

.ma-t-10 {
  margin-top: 50px;
}
.justify-content-end{
  justify-content: end;
}
.p-0{
  padding: 0;
}
.m-0{
  margin: 0;
}
